@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to index.css */
html {
  scroll-behavior: smooth;
}

.stroke-text {
  -webkit-text-stroke: 2px white;
  color: transparent;
  position: relative;
}

.shadow-text {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}




