@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to index.css */
html {
  scroll-behavior: smooth;
}

.stroke-text {
  -webkit-text-stroke: 2px white;
  color: transparent;
  position: relative;
}

.shadow-text {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.outline-text {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}



.fade-in {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



